# Dog Breed Identification
dogbreedidentification/data/

# Iceberg Classifier
icebergclassifier/

# MNIST
mnist/train.csv
mnist/test.csv
mnist/logs/
mnist/models/

# Plant Seedlings
plantseedlings/data/
plantseedlings/logs/
plantseedlings/models/

# Dog vs Cat
dogvscat/data/
dogvscat/logs/
dogvscat/models/