# Dog Breed Identification
dogbreedidentification/data/

# Iceberg Classifier
icebergclassifier/

# MNIST
mnist/train.csv
mnist/test.csv
mnist/logs/
mnist/models/

# Plant Seedlings
plantseedlings/data/
plantseedlings/logs/
plantseedlings/models/

# Dog vs Cat Redux
dogvscatredux/data/
dogvscatredux/logs/
dogvscatredux/models/

# Dog vs Cat Original
dogvscat/__pycache__/
dogvscat/test1/
dogvscat/train/
dogvscat/train_reduced/
dogvscat/model/
dogvscat/test1.zip
dogvscat/train.zip